body{
  width: 600px;
  margin: 0 auto;
}

.box
{
  height: 100px;
  width: 100px;
  background-color: red;
  border: 1px solid black;
  float: left;
}

.checked
{
  background-color: hotpink;
}

section
{
  overflow: hidden;
}
